# Project exclude paths
/InterfaceImplReflect/target/
/NewOP/target/
/SpringIOCDemo01/target/
/SpringIOCDemo02CreationPattern/target/
/SpringIOCDemo03BeanAndFactoryBean/target/
/SpringIOCDemo04BD/target/
/target/