<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.EmpMapper">
    <select id="selectEmpById" resultType="com.demo.domain.Emp">
        select * from tb_employee where eno = #{eno}
    </select>

    <select id="selectEmpByName" resultType="com.demo.domain.Emp">
        select * from tb_employee where ename = #{ename}
    </select>


</mapper>