<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.PersonMapper">
    <select id="selectPerson"  resultType="com.demo.domain.Person">
        select * from person where id = #{id}
    </select>
    <select id="selectPersonByName" resultType="com.demo.domain.Person">
        select * from person where name = #{name}
    </select>

</mapper>