<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.PersonMapper">


    <resultMap id="personmapping" type="com.demo.domain.Person">
        <id column="id" property="id"/>
        <result column="name" property="pname"/>


    </resultMap>
<!--selectPerson(2)-->
    <select id="selectPerson"  resultMap="personmapping">
        select * from person where id = #{abc}
    </select>
    <select id="selectPersonByName" resultType="com.demo.domain.Person">
        select * from person where name = #{name}
    </select>
    <select id="selectPersonByIdAndName" resultType="com.demo.domain.Person">
        select * from person where id = #{id} and name = #{name}
    </select>
    <select id="selectPersonByInstance" resultType="com.demo.domain.Person">
        select * from person where id = #{id} and name=#{name} and age=#{age}"
    </select>
    <select id="selectPersonByMap" resultType="com.demo.domain.Person">
        select * from person where id = #{id} and name = #{name}
    </select>
    <select id="selectPersonByList" resultType="com.demo.domain.Person">
        select * from person where id = #{list[0]} and name = #{list[1]}
    </select>
    <select id="selectPersons" resultType="com.demo.domain.Person">

    </select>

    <resultMap type="com.demo.domain.Person" id="persondetailmap" autoMapping="true">

        <id property="id" column="id"/>
        <result property="pname" column="name"/>
        <association property="address" javaType="com.demo.domain.Address" autoMapping="true">
<!--            <id property="aid" column="aid"/>-->

        </association>

    </resultMap>

    <select id="selectPersonByIdWithDetails" resultMap="persondetailmap" >
        select *
        from person, address
        where person.id=#{id} and person.id=address.pid

    </select>



</mapper>
